
.hero-img-container {
    padding-left: var(--grid-half-gutter);
    padding-right: var(--grid-half-gutter);
    min-width: initial;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0%;
}
.img-container-layer4 {
    position: relative;
}
.img-container-layer3 {
    /* pointer-events: none; */
    width: 100%;
    height: 100%;
}
.img-container-layer2 {
    position: relative;
    margin-top: -8px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}
.img-container-layer1 {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20rem;
}
.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
@media screen and (min-width:720px) {
.hero-img-container {
        flex: 0 0 87.5%;
        max-width: 87.5%;
        margin-left: 6.25%;
}
}
@media screen and (min-width:1024px) {
.hero-img-container {
        flex: 0 0 43.75%;
        max-width: 43.75%;
        margin-left: 0%;
}
.img-container-layer4 {
        width: 100%;
        margin-top: 16%;
}
}


.section {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: var(--hero-section-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--header-top);
    padding-bottom: 64px;
}
.hero.section{
    min-height: 120vh;
}
.section>div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
    display: flex;
    flex-flow: wrap;
    max-width: none;
    width: 100%;
    scroll-snap-align: start;
}
@media screen and (min-width: 1024px) {
.section>div {
        flex-flow: wrap;
        margin-top: -7%;
}
}


.glass-over-img {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    border-radius: 1rem;
    margin: auto;
    padding: 0px;
    position: absolute;
    inset: 0px;
}
.glass-over-img>img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    -o-object-fit: none;
       object-fit: none;
}
.glass-text-container {
    display: block;
    margin: auto;
    color: white;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2)
}
.glass-text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    border-radius: inherit;
    z-index: -1;
}
.glass-text-container>h3 {
    font-size: 1.4rem;
    padding: 4px;
    border-bottom: solid 1px #fff;
    text-align: center
}
.glass-text-container>h3+p {
    font-size: 1.1rem;
    line-height: 1.3;
    padding: 10px;
}
@media screen and (min-width: 1024px) {
.glass-over-img {
        height: 75vh;
}
}
@media (min-width: 48em) {
.glass-over-img>img {
        -o-object-fit: contain;
           object-fit: contain;
}
.glass-text-container {
        border-radius: 31px;
}
.glass-text-container {
        width: calc(20rem + ((1vw - 0.48rem) * 5.5556));
        min-height: 0vw;
}
.glass-text-container>h3 {
        font-size: calc(1.4rem + ((1vw - 0.48rem) * 0.6944));
        min-height: 0vw;
}
.glass-text-container>h3+p {
        font-size: calc(1.1rem + ((1vw - 0.48rem) * 0.6944));
        min-height: 0vw;
}
}


.section-three {
    background-color: var(--dark-red);
    --circle-bg-color: var(--dark-red);
    color: rgb(254, 255, 235);
}
@media screen and (min-width: 1024px) {
.section-three .section-content-container>div {
        display: grid;
        grid-template-areas:
            "text pic"
            "bar pic"
            "label pic";
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        align-items: center;
}
}


.section-four {
    background-color: var(--green);
    --circle-bg-color: var(--green);
    color: #d8f2e7;
}
@media screen and (min-width: 1024px) {
.section-four .section-content-container>div {
        display: grid;
        grid-template-areas:
            "pic text"
            "pic bar"
            "pic label";
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
}
}


.faq-section {
    background-color: var(--light-pink);
    --pink: #e03d5c;
    color: var(--pink);
}
.faq-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem 2rem 0rem;
}
.faq {
    font-weight: 400;
}
.q-container {
    display: flex;
    align-items: center;
}
.q-container h3 {
    font-size: min(22px, 19.344px + 0.16vw);
    cursor: pointer;
}
.q-container span {
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--light-pink);
    box-shadow: var(--pink) 0px 0px 0px 2px;
    z-index: 1;
    transform-origin: center center;
    transition: width 0.25s, height 0.25s, background-color 0.25s;
    cursor: pointer;
    margin: 1rem;
}
.q-container span.active {
    height: 15px;
    width: 15px;
    background: var(--pink);
}
.faq .answers {
    font-size: min(19px, 16.344px + 0.16vw);
    height: 0;
    overflow: hidden;
    line-height: 25px;
    transition: height .25s ease-in-out;
}
.faq .answers.active {
    height: auto;
    padding: .5rem 2rem 1rem 2rem;
}
@media screen and (min-width: 1024px) {
.faq-container {
        grid-area: pic;
}
}


.section-divider {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    /* margin-top: -0.5px;
    margin-bottom: -0.5px; */
}
.section-divider::before {
    content: "";
    position: absolute;
    inset: 0px;
    margin-top: 0.5px;
}
.section-divider>svg {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    transform-origin: 50% 0%;
    will-change: transform;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
            mask-image: -webkit-radial-gradient(center, white, black);
    overflow: visible;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0px, 0px, 0px) scale(1, 0.3957);
}
@media screen and (min-width: 1024px){
.section-divider>svg{
        transform: 'scale(1, 0.0)';
}
}

